<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elementary.mualijpro">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"
        android:protectionLevel="signature" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE1" />

    <application
        android:name="com.elementary.mualijpro.MualijProApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- AdMob Ads -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/txt_google_ads_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.elementary.mualijpro.ui.activities.launcher.SplashActivity"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.elementary.mualijpro.ui.activities.auth.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"

            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name="com.elementary.mualijpro.ui.activities.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.elementary.mualijpro.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".utils.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".utils.TrimmerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

    </application>

</manifest>